{% extends "layout/basic.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

    {#    {% for img in imgs %}#}
    {#        <div class="image">#}
    {#            <p>#}
    {#                <img src="{% url 'test:get' filename=img %}" alt="">#}
    {#            </p>#}
    {#        </div>#}
    {#    {% endfor %}#}

    <h1>Thumbnail Preview</h1>
    {% if thumbnails_urls %}
        <div>
            {% for thumbnail_url in thumbnails_urls %}
                <div>
                    <img src="{{ thumbnail_url }}" alt="Thumbnail">
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No thumbnails available</p>
    {% endif %}

{% endblock content %}