{% extends "layout/basic.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

    {#    {% for img in imgs %}#}
    {#        <div class="image">#}
    {#            <p>#}
    {#                <img src="{% url 'test:get' filename=img %}" alt="">#}
    {#            </p>#}
    {#        </div>#}
    {#    {% endfor %}#}

{#    <h1>Thumbnail Preview</h1>#}
{#    {% if thumbnails_urls %}#}
{#        <div>#}
{#            {% for thumbnail_url in thumbnails_urls %}#}
{#                <div>#}
{#                    <img src="{{ thumbnail_url }}" alt="Thumbnail">#}
{#                </div>#}
{#            {% endfor %}#}
{#        </div>#}
{#    {% else %}#}
{#        <p>No thumbnails available</p>#}
{#    {% endif %}#}

    <h1>Student Course List</h1>
    <ul>
        {% for student_course in object_list %}
            <li>{{ student_course.student.name }} - {{ student_course.course.name }}</li>
        {% endfor %}
    </ul>

    <h1>SMS Messages List</h1>
    <ul>
        {% for sms_message in sms_messages %}
            <li>{{ sms_message.sender }} - {{ sms_message.timestamp }}</li>
            <p>{{ sms_message.message }}</p>
        {% endfor %}
    </ul>
{% endblock content %}