{% extends "layout/basic.html" %}
{% load bootstrap4 %}

{% block title %}{{ current_rubric.name }}{% endblock %}

{% block content %}

    {% bootstrap_alert content='!' alert_type='danger' %}
    <h2>Добавления объявление</h2>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
{#        {% bootstrap_form form %}#}
{#        {% bootstrap_form form layout='inline' field_class='col-md-6' size='small'%}#}
{#        {% bootstrap_field form.title placeholder='Placeholder' addon_before='@' addon_after='.'%}#}
            {% bootstrap_form form %}
{#        {% buttons submit='Добавить' %}{% endbuttons %}#}
        {% bootstrap_button content='Добавить' button_type='submit' button_class='btn-primary'%}
    </form>

{% endblock %}