{% extends "layout/basic.html" %}
{% load filtertags %}
{% load bbcode_tags %}

{% block title %}{{ current_rubric.name }}{% endblock %}

{% block content %}
    {% now "Y-m-d H:i:s" as current_datetime %}
    <h3>Entry Date and Time: {{ current_datetime }}</h3>
    
{#    {% lst ', ' '1' '2' '3' '4' '5' %}#}
    {% string_to_list ', ' '12345' %}
    {% ulist '1' '2' '3' '4' '5' %}
    
    <p>
        {% for d in date_list %}
            {{ d.year }} / <a href="{% url 'bboard:month' year=d.year month=d.month %}">{{ d.month }}</a>
        {% endfor %}
    </p>
    <p>{{ bb.content|bbcode|safe }}</p>
    {% for bb in bbs %}
        {% with index=forloop.counter0|add:page_obj.start_index %}
            <div class="{% cycle 'b1' 'b2' %}">
                <h2>{% url 'bboard:detail' bb.pk as detail_url %}
                    <a href="{{ detail_url }}">
                        {{ index }} - {{ bb.title_and_price }}
                        {% if forloop.first %}
                            (Первое объявление)
                        {% elif forloop.last %}
                            (Последнее объявление)
                        {% endif %}
                    </a>
                </h2>
                <p>{{ bb.content|truncatewords_html:5|wordwrap:1 }}</p>
                <p>{{ bb.content|truncate_half }}</p>
                {% autoescape on %}
                    <p>Цена: {{ bb.price|currency }}</p>
                    <p>Цена: {{ bb.price|currency:'руб.' }}</p>
                    <p>Состояние товара: {{ bb.item_status }}</p>
                {% endautoescape %}
                
                {% ifchanged bb.rubric.name %}
                    <p>
                       <a href="{#% url 'bboard:by_rubric' bb.rubric.pk %#}">
                            {{ bb.rubric.name }}</a>
                    </p>
                {% endifchanged %}

                <p>{{ bb.id_and_date }}</p>
            
                {% comment %}
                    This is a comment that will not be displayed in the final HTML.
                {% endcomment %}
            </div>
        {% endwith %}
    {% endfor %}
    {% include 'includes/inc_paginator.html' %}
{% endblock %}
